.vignette {
    background: linear-gradient(to bottom, #2f343e, transparent 1rem, transparent calc(100% - 1rem), #2f343e);
    height: 100%;
    margin-left: -1rem;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
