* {
    margin: 0;
    padding: 0;
}

.App {
    align-items: center;
    background: #22282e;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2rem);
    justify-content: space-between;
    overflow: hidden;
    padding-top: 2rem;
    width: 100%;

    .react-icons {
        vertical-align: middle;
        color: gold;
    }

    .footer {
        color: rgb(123 123 123);
        padding: 0.5rem 1rem;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .App {
        padding: 0;
        height: calc(100vh);
    }
}
